@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: url('thswebsiteunofficial.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
    100% {
        filter:hue-rotate(360deg);
    }
}
/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-right: 2px solid rgba(255, 255, 255, 0.07);
    padding: 6px 14px;
    transition: .5s ease;
}

.sidebar #btn {
    cursor: pointer;
}


.sidebar.active {
    width: 240px;
}

.sidebar .logo-content .logo {
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 50px;
    pointer-events: none;
}

.logo-content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo-content .logo h3 {
    font-size: 20px;
}

.sidebar #btn {
    position:  absolute;
    top: 6px;
    left: 90%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background: none;
    text-align: center;
    line-height: 50px;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    list-style: none;
    margin: 5px 0;
}

.sidebar ul li input{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    border-radius: 6px;
    border: none;
    outline: none;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search {
    position: absolute;
    color: #fff;
    font-size: 22px;
    z-index: 99;
    
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: .5s ease;
}

.sidebar ul li a:hover {
    background: rgba(255, 255, 255, .1);
}

.sidebar ul li i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

ul.chapters {
    display: none;
    padding-left: 20px;
    margin-top: 5px;
}

ul.chapters li a {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    padding-left: 20px;
    margin-bottom: 5px;
    display: block;
    color: white;
    text-decoration: none;
}
